.wrapper {
  text-align: center;
  font-family: "Inter";
  padding: 1em;
  position: relative;
  margin: auto 0;
}
@media (min-width: 600px) {
  .wrapper {
    font-size: 0.9em;
  }
}
@media (min-width: 992px) {
  .wrapper {
    font-size: 0.9em;
  }
}
